{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "onem.png": {
        "format": "ARGB8888"
      },
      "oneml.png": {
        "format": "ARGB8888"
      },
      "obstacle_mid.png": {
        "format": "ARGB8888"
      },
      "temp_warn .png": {
        "format": "ARGB8888"
      },
      "StopButonDeneme.png": {
        "format": "ARGB8888"
      },
      "obstacle_far.png": {
        "format": "ARGB8888"
      },
      "StopButonDeneme .png": {
        "format": "ARGB8888"
      },
      "temp_danger .png": {
        "format": "ARGB8888"
      },
      "on.png": {
        "format": "ARGB8888"
      },
      "one.png": {
        "format": "ARGB8888"
      },
      "temp_ok .png": {
        "format": "ARGB8888"
      },
      "obstacle_close.png": {
        "format": "ARGB8888"
      },
      "onemli .png": {
        "format": "ARGB8888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}